body {
  border: 10px solid #333;
}
.container {
  display: flex;
  flex-flow: wrap;
  position: relative;
}
.about,
.projects,
.resume,
.contact {
  width: 50%;
  height: calc(50vh - 10px);
  background-color: #fff;
  text-align: center;
}
.projects,
.resume {
  background-color: #ebebeb;
}
.contact {
  background-color: #ddd;
}
.about:hover,
.projects:hover,
.resume:hover,
.contact:hover {
  background: #a1ffce;
  background: -webkit-linear-gradient(to right, #faffd1, #a1ffce);
  background: linear-gradient(to right, #faffd1, #a1ffce);
  cursor: pointer;
  transition: 1s;
}
.about > img,
.projects > img,
.resume > img,
.contact > img {
  height: 95%;
}
.about > img:hover,
.projects > img:hover,
.resume > img:hover,
.contact > img:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .about,
  .projects,
  .resume,
  .contact {
    width: auto;
    /* height: auto; */
  }
  .about > img,
  .projects > img,
  .resume > img,
  .contact > img {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .about > img,
  .projects > img,
  .resume > img,
  .contact > img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    display: block;
  }
  .container > .logo {
    display: none;
  }
  .about > img,
  .projects > img,
  .resume > img,
  .contact > img {
    width: 100%;
  }
}
